<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="NodeID" value="e7a5235d-cb6f-4864-a96e-a8686f36e599"
        description="Unique Node ID" encrypted="false" />
      <add name="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=openPDC.mdb"
        description="Configuration database connection string" encrypted="false" />
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OleDb.OleDbConnection;AdapterType=System.Data.OleDb.OleDbDataAdapter"
        description="Configuration database ADO.NET data provider assembly type creation string"
        encrypted="false" />
    </systemSettings>
    <adoMetadataProvider>
      <add name="Enabled" value="True" description="True if this metadata provider is enabled; otherwise False."
        encrypted="false" />
      <add name="RefreshTimeout" value="300" description="Number of seconds to wait for metadata refresh to complete."
        encrypted="false" />
      <add name="RefreshInterval" value="-1" description="Number of minutes at which the metadata is to be refreshed."
        encrypted="false" />
      <add name="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=openPDC.mdb"
        description="Connection string for connecting to the ADO.NET based data store of metadata."
        encrypted="false" />
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OleDb.OleDbConnection;AdapterType=System.Data.OleDb.OleDbDataAdapter"
        description="The ADO.NET data provider assembly type creation string used to create a connection to the data store of metadata."
        encrypted="false" />
      <add name="SelectString" value="SELECT * FROM HistorianMetadata WHERE PlantCode='ARCHIVE'"
        description="SELECT statement for retrieving metadata from the ADO.NET based data store."
        encrypted="false" />
    </adoMetadataProvider>
    <archiveFile>
      <add name="FileSize" value="100" description="Size (in MB) of the file."
        encrypted="false" />
    </archiveFile>
    <metadataService>
      <add name="Enabled" value="True" description="True if this web service is enabled; otherwise False."
        encrypted="false" />
      <add name="ServiceUri" value="http://localhost:8600/historian"
        description="URI where this web service is to be hosted." encrypted="false" />
    </metadataService>
    <timeSeriesDataService>
      <add name="Enabled" value="True" description="True if this web service is enabled; otherwise False."
        encrypted="false" />
      <add name="ServiceUri" value="http://localhost:8700/historian"
        description="URI where this web service is to be hosted." encrypted="false" />
    </timeSeriesDataService>
    <serviceHelper>
      <add name="MonitorServiceHealth" value="True" description="True if the service health is to be monitored; otherwise False."
        encrypted="false" />
      <add name="AllowedRemoteUsers" value="*" description="Comma or semicolon delimited list of user logins allowed to connect to the service remotely."
        encrypted="false" />
      <add name="ImpersonateRemoteUser" value="False" description="True to execute remote commands under the identity of the remote user; otherwise False."
        encrypted="false" />
    </serviceHelper>
    <remotingServer>
      <add name="ConfigurationString" value="Port=8500" description="Data required by the server to initialize."
        encrypted="false" />
    </remotingServer>
  </categorizedSettings>
</configuration>