<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="NodeID" value="e7a5235d-cb6f-4864-a96e-a8686f36e599"
        description="Unique Node ID" encrypted="false" />
    </systemSettings>
    <serviceHelper>
      <add name="MonitorServiceHealth" value="True" description="True if the service health is to be monitored; otherwise False."
        encrypted="false" />
      <add name="AllowedRemoteUsers" value="*" description="Comma or semicolon delimited list of user logins allowed to connect to the service remotely."
        encrypted="false" />
      <add name="ImpersonateRemoteUser" value="False" description="True to execute remote commands under the identity of the remote user; otherwise False."
        encrypted="false" />
    </serviceHelper>
    <remotingServer>
      <add name="ConfigurationString" value="Port=8500" description="Data required by the server to initialize."
        encrypted="false" />
    </remotingServer>
  </categorizedSettings>
</configuration>