<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core"/>
	</configSections>
	<appSettings/>
	<categorizedSettings>
		<systemSettings>
						
      <add name="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=openPDC.mdb" description="Configuration database connection string" encrypted="false"/>
			<add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OleDb.OleDbConnection;AdapterType=System.Data.OleDb.OleDbDataAdapter" description="Example OleDb database .NET provider string" encrypted="false"/>
      
    </systemSettings>
		<exampleConnectionSettings>
			<add name="SqlServer.ConnectionString" value="Data Source=serverName;Initial Catalog=openPDC;User Id=userName;Password=password" description="Example SQL Server database connection string" encrypted="false"/>
			<add name="SqlServer.DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.SqlClient.SqlConnection;AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Example SQL Server database .NET provider string" encrypted="false"/>
			<add name="MySQL.ConnectionString" value="Server=serverName;Database=openPDC;Uid=root;Pwd=password; allow user variables = true;" description="Example MySQL database connection string" encrypted="false"/>
			<add name="MySQL.DataProviderString" value="AssemblyName={MySql.Data, Version=5.2.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d};ConnectionType=MySql.Data.MySqlClient.MySqlConnection;AdapterType=MySql.Data.MySqlClient.MySqlDataAdapter" description="Example MySQL database .NET provider string" encrypted="false"/>
			<add name="Oracle.ConnectionString" value="Data Source=openPDC;User Id=username;Password=password;Integrated Security=no" description="Example Oracle database connection string" encrypted="false"/>
			<add name="Oracle.DataProviderString" value="AssemblyName={System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OracleClient.OracleConnection;AdapterType=System.Data.OracleClient.OracleDataAdapter" description="Example Oracle database .NET provider string" encrypted="false"/>
			<add name="OleDB.ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=openPDC.mdb" description="Example Microsoft Access (via OleDb) database connection string" encrypted="false"/>
			<add name="OleDB.DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OleDb.OleDbConnection;AdapterType=System.Data.OleDb.OleDbDataAdapter" description="Example OleDb database .NET provider string" encrypted="false"/>
			<add name="Odbc.ConnectionString" value="Driver={SQL Server Native Client 10.0};Server=serverName;Database=openPDC;Uid=userName;Pwd=password;" description="Example ODBC database connection string" encrypted="false"/>
			<add name="Odbc.DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.Odbc.OdbcConnection;AdapterType=System.Data.Odbc.OdbcDataAdapter" description="Example ODBC database .NET provider string" encrypted="false"/>
		</exampleConnectionSettings>
	</categorizedSettings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="silverlightFaults" type="openPDCManager.Data.SilverlightFaultBehavior, openPDCManager.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="SilverlightFaultBehavior">
					<silverlightFaults/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="openPDCManager.Services.Service.PhasorDataServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="64" maxConcurrentSessions="50" maxConcurrentInstances="1"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="customBinaryBinding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<binaryMessageEncoding/>
					<httpTransport maxReceivedMessageSize="3276800"/>
				</binding>
			</customBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="openPDCManager.Services.Service.PhasorDataServiceBehavior" name="openPDCManager.Services.Service.PhasorDataService">
				<!--<endpoint address="" binding="basicHttpBinding" contract="openPDCManager.Services.Service.IPhasorDataService">-->
				<endpoint address="" binding="customBinding" bindingConfiguration="customBinaryBinding" contract="openPDCManager.Services.Service.IPhasorDataService" behaviorConfiguration="SilverlightFaultBehavior">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
