<?xml version="1.0" encoding="utf-8" ?>
<MenuDataItems xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MenuDataItem Icon="" MenuText="_Home" Description="System Overview" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.HomeUserControl" />
  <MenuDataItem Icon="" MenuText="_Devices" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Browse" Description="Browse Devices" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.DeviceListUserControl" />
      <MenuDataItem Icon="" MenuText="Add _New" Description="Manage Device Configuration" Roles="Administrator,Editor" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.DeviceUserControl" />
      <MenuDataItem Icon="" MenuText="Input _Wizard" Description="Input Device Configuration Wizard" Roles="Administrator,Editor" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.InputWizardUserControl" />
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="_Outputs" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Concentrator Output Streams" Description="Manage Output Streams" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.OutputStreamUserControl" />
      <MenuDataItem Icon="" MenuText="_Historians" Description="Manage Historians" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.HistorianUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_One-second Average Frequency" Description="Manage One-second Average Frequency" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.AverageFrequencyUserControl" />
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="_Gateway" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Publication " Description="" Roles="*" UserControlAssembly="" UserControlPath="">
        <SubMenuItems>
          <MenuDataItem Icon="" MenuText="_Authorize Subscribers" Description="Manage Authorized Subscribers" Roles="*" UserControlAssembly="GSF.TimeSeries.Transport.UI.WPF.dll" UserControlPath="GSF.TimeSeries.Transport.UI.UserControls.SubscriberUserControl"/>
          <MenuDataItem Icon="" MenuText="_Subscriber Measurement Access" Description="Manage Subscriber Measurement Access" Roles="*" UserControlAssembly="GSF.TimeSeries.Transport.UI.WPF.dll" UserControlPath="GSF.TimeSeries.Transport.UI.UserControls.SubscriberMeasurementUserControl"/>
          <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
          <MenuDataItem Icon="" MenuText="Measurement _Groups" Description="Manage Subscriber Measurement Groups" Roles="*" UserControlAssembly="GSF.TimeSeries.Transport.UI.WPF.dll" UserControlPath="GSF.TimeSeries.Transport.UI.UserControls.MeasurementGroupUserControl"/>
        </SubMenuItems>
      </MenuDataItem>
      <MenuDataItem Icon="" MenuText="_Subscription" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
        <SubMenuItems>
          <MenuDataItem Icon="" MenuText="_Measurement Subscriptions" Description="Manage Local Measurement Subscriptions from External Gateways" Roles="*" UserControlAssembly="GSF.TimeSeries.Transport.UI.WPF.dll" UserControlPath="GSF.TimeSeries.Transport.UI.UserControls.SubscribeMeasurementUserControl"/>
          <MenuDataItem Icon="" MenuText="_Create Authorization Request" Description="Create Authorization Request for Access to External Gateway" Roles="Administrator,Editor" UserControlAssembly="GSF.TimeSeries.Transport.UI.WPF.dll" UserControlPath="GSF.TimeSeries.Transport.UI.UserControls.SubscriberRequestUserControl"/>
        </SubMenuItems>
      </MenuDataItem>
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="_Adapters" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Input Adapters" Description="Manage Input Adapters" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.CustomInputAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="_Action Adapters" Description="Manage Action Adapters" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.CustomActionAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="_Output Adapters" Description="Manage Output Adapters" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.CustomOutputAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="Iaon _Tree" Description=" View Iaon Tree" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.IaonTreeUserControl"/>
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="_Monitoring" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Graph Measurements" Description="Graph Real-time Measurements" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.InputStatusMonitorUserControl"/>
      <MenuDataItem Icon="" MenuText="_Device Measurements" Description="Real-time Device Measurements" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.RealTimeMeasurementUserControl"/>
      <MenuDataItem Icon="" MenuText="_Stream Statistics" Description="Real-time Stream Statistics" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.RealTimeStatisticUserControl"/>
      <MenuDataItem Icon="" MenuText="_Alarm Status" Description="Alarm Status" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.AlarmStatusUserControl"/>
      <!--<MenuDataItem Icon="" MenuText="_HistorianView" Description ="Historian View" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.HistorianViewUserControl"/>-->
      <MenuDataItem Icon="" MenuText="_Error Log" Description="Error Log" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.ErrorLogUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_Remote System Console" Description="Remote System Console" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.MonitoringUserControl" />
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="Ma_nage" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Nodes" Description="Manage Nodes" Roles="Administrator" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.NodeUserControl" />
      <MenuDataItem Icon="" MenuText="_Measurements" Description="Manage Measurements" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.PhasorMeasurementUserControl"/>
      <MenuDataItem Icon="" MenuText="_Alarms" Description="Manage Alarms" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.AlarmUserControl" />
      <MenuDataItem Icon="" MenuText="Ca_lculations" Description="Manage Calculated Measurements" Roles="*" UserControlAssembly="GSF.PhasorProtocols.UI.WPF.dll" UserControlPath="GSF.PhasorProtocols.UI.UserControls.CalculatedMeasurementUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_Companies" Description="Manage Companies" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.CompanyUserControl" />
      <MenuDataItem Icon="" MenuText="_Vendors" Description="Manage Vendors" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.VendorUserControl" />
      <MenuDataItem Icon="" MenuText="Vendor _Devices" Description="Manage Vendor Devices" Roles="*" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.VendorDeviceUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_Security" Description="Manage Application Security" Roles="Administrator" UserControlAssembly="GSF.TimeSeries.UI.WPF.dll" UserControlPath="GSF.TimeSeries.UI.UserControls.SecurityUserControl" />
    </SubMenuItems>
  </MenuDataItem>
</MenuDataItems>
