<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <!-- *** MODIFY CONNECTION STRING AND DATA PROVIDER STRINGS BELOW *** -->
      
      <add name="ConfigurationType" value="Database" description="Specifies type of configuration: Database, WebService or XmlFile" encrypted="false" />
      <add name="ConnectionString" value="Data Source=localhost\SQLEXPRESS; Initial Catalog=openPDC; Integrated Security=SSPI" description="Configuration connection string" encrypted="false" />
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false" />

      <!-- **************************************************************** -->
      <add name="NodeID" value="e7a5235d-cb6f-4864-a96e-a8686f36e599" description="Unique Node ID" encrypted="false" />
      <add name="ProcessPriority" value="High" description="Sets desired process priority: Normal, AboveNormal, High, RealTime" encrypted="false" />
      <add name="UseMeasurementRouting" value="True" description="Set to true to use optimized adapter measurement routing." encrypted="false" />
      <add name="UniqueAdaptersIDs" value="True" description="Set to true if all runtime adapter ID's will be unique to allow for easier adapter specification" encrypted="false" />
      <add name="AllowRemoteRestart" value="True" description="Controls ability to remotely restart the host service." encrypted="false" />
      <add name="MinThreadPoolWorkerThreads" value="25" description="Defines the minimum number of allowed thread pool worker threads." encrypted="false" />
      <add name="MaxThreadPoolWorkerThreads" value="2048" description="Defines the maximum number of allowed thread pool worker threads." encrypted="false" />
      <add name="MinThreadPoolIOPortThreads" value="25" description="Defines the minimum number of allowed thread pool I/O completion port threads (used by socket layer)." encrypted="false" />
      <add name="MaxThreadPoolIOPortThreads" value="2048" description="Defines the maximum number of allowed thread pool I/O completion port threads (used by socket layer)." encrypted="false" />
      <add name="GCGenZeroInterval" value="-1" description="Defines the interval, in milliseconds, over which to force a generation zero garbage collection. Set to -1 to disable." encrypted="false" />
      <add name="ProcessPhasorStatistics" value="True" description="Determines if the phasor statistics should be processed during operation" encrypted="false" />
      <add name="ProcessPhasorDataSourceValidation" value="True" description="Determines if the phasor data source validation should be processed at startup" encrypted="false" />
      <add name="OptimizeLocalHistorianSettings" value="True" description="Determines if the defined local historians will have their settings optimized at startup" encrypted="false" />
      <add name="InstalledBitSize" value="32" description="Target installation bit size (used by installer)." encrypted="false" />
    </systemSettings>
    <serviceHelper>
      <add name="MonitorServiceHealth" value="True" description="True if the service health is to be monitored; otherwise False." encrypted="false" />
      <add name="HealthMonitorInterval" value="5" description="The interval, in seconds, over which to sample the performance montitor for health statistics." encrypted="false" />
      <add name="SecureRemoteInteractions" value="False" description="True to enable security of remote client interactions; otherwise False." encrypted="false" />
      <add name="AllowedRemoteUsers" value="*" description="Comma or semicolon delimited list of user logins allowed to connect to the service remotely." encrypted="false" />
      <add name="ImpersonateRemoteUser" value="False" description="True to execute remote commands under the identity of the remote user; otherwise False." encrypted="false" />
      <add name="LogStatusUpdates" value="True" description="True if status update messages are to be logged to a text file; otherwise False." encrypted="false" />
      <add name="MaxStatusUpdatesLength" value="262144" description="Maximum numbers of characters allowed in update status messages without getting suppressed from being displayed." encrypted="false" />
      <add name="MaxStatusUpdatesFrequency" value="100" description="Maximum number of status update messages that can be issued in a second without getting suppressed from being displayed." encrypted="false" />
      <add name="RequestHistoryLimit" value="50" description="Number of client request entries to be kept in the history." encrypted="false" />
      <add name="SupportTelnetSessions" value="False" description="True to enable the support for remote telnet-like sessions; otherwise False." encrypted="false" />
      <add name="SupportSystemCommands" value="False" description="True to enable system-level access (-system switch) via the build-in commands; otherwise False." encrypted="false" />
    </serviceHelper>
    <remotingServer>
      <add name="ConfigurationString" value="Port=8500" description="Data required by the server to initialize." encrypted="false" />
      <add name="MaxClientConnections" value="-1" description="Maximum number of clients that can connect to the server." encrypted="false" />
      <add name="Handshake" value="True" description="True if the server will do a handshake with the client after the connection has been established; otherwise False." encrypted="false" />
      <add name="HandshakeTimeout" value="3000" description="Number of milliseconds the server will wait for the clients to initiate the Handshake process." encrypted="false" />
      <add name="SharedSecret" value="openPDC" description="Key to be used for ciphering the data exchanged between the server and clients." encrypted="false" />
      <add name="Encryption" value="None" description="Cipher strength (None; Aes128; Aes256) to be used for ciphering the data exchanged between the server and clients." encrypted="false" />
      <add name="SecureSession" value="False" description="True if the data exchanged between the server and clients will be encrypted using a private session passphrase; otherwise False." encrypted="false" />
      <add name="ReceiveTimeout" value="-1" description="Number of milliseconds the server will wait for data to be received from the clients." encrypted="false" />
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the server for receiving data from the clients." encrypted="false" />
      <add name="Compression" value="NoCompression" description="Compression strength (NoCompression; Standard; MultiPass) to be used for compressing the data exchanged between the server and clients." encrypted="false" />
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="false" />
      <add name="IntegratedSecurity" value="False" description="True if the client Windows account credentials are used for authentication, otherwise False." encrypted="false" />
      <add name="AllowDualStackSocket" value="True" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False." encrypted="false" />
    </remotingServer>
    <datapublisher>
      <add name="ConfigurationString" value="port=6165" description="Data required by the server to initialize." encrypted="false" />
      <add name="MaxClientConnections" value="-1" description="Maximum number of clients that can connect to the server." encrypted="false" />
      <add name="Handshake" value="False" description="True if the server will do a handshake with the client after the connection has been established; otherwise False." encrypted="false" />
      <add name="HandshakeTimeout" value="3000" description="Number of milliseconds the server will wait for the clients to initiate the Handshake process." encrypted="false" />
      <add name="SharedSecret" value="TSF" description="Key to be used for ciphering the data exchanged between the server and clients." encrypted="false" />
      <add name="Encryption" value="None" description="Cipher strength (None; Aes128; Aes256) to be used for ciphering the data exchanged between the server and clients." encrypted="false" />
      <add name="SecureSession" value="False" description="True if the data exchanged between the server and clients will be encrypted using a private session passphrase; otherwise False." encrypted="false" />
      <add name="ReceiveTimeout" value="-1" description="Number of milliseconds the server will wait for data to be received from the clients." encrypted="false" />
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the server for receiving data from the clients." encrypted="false" />
      <add name="Compression" value="Standard" description="Compression strength (NoCompression; Standard; MultiPass) to be used for compressing the data exchanged between the server and clients." encrypted="false" />
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="false" />
      <add name="IntegratedSecurity" value="False" description="True if the client Windows account credentials are used for authentication, otherwise False." encrypted="false" />
      <add name="AllowDualStackSocket" value="True" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False." encrypted="false" />
    </datapublisher>
    <statMetadataService>
      <add name="Endpoints" value="http.rest://localhost:6051/historian" description="Semicolon delimited list of URIs where the web service can be accessed - this defaults to http.rest://localhost:6051/historian for the statistics meta-data service." encrypted="false" />
      <add name="Contract" value="TVA.Historian.DataServices.IMetadataService, TVA.Historian" description="Assembly qualified name of the contract interface implemented by the web service." encrypted="false" />
      <add name="Singleton" value="True" description="True if the web service is singleton; otherwise False." encrypted="false" />
      <add name="SecurityPolicy" value="" description="Assembly qualified name of the authorization policy to be used for securing the web service." encrypted="false" />
      <add name="PublishMetadata" value="True" description="True if the web service metadata is to be published at all the endpoints; otherwise False." encrypted="false" />
    </statMetadataService>
    <statTimeSeriesDataService>
      <add name="Endpoints" value="http.rest://localhost:6052/historian" description="Semicolon delimited list of URIs where the web service can be accessed - this defaults to http.rest://localhost:6052/historian for the statistics time-series data service." encrypted="false" />
      <add name="Contract" value="TVA.Historian.DataServices.ITimeSeriesDataService, TVA.Historian" description="Assembly qualified name of the contract interface implemented by the web service." encrypted="false" />
      <add name="Singleton" value="True" description="True if the web service is singleton; otherwise False." encrypted="false" />
      <add name="SecurityPolicy" value="" description="Assembly qualified name of the authorization policy to be used for securing the web service." encrypted="false" />
      <add name="PublishMetadata" value="True" description="True if the web service metadata is to be published at all the endpoints; otherwise False." encrypted="false" />
    </statTimeSeriesDataService>
    <statMetadataFile>
      <add name="FileName" value="Statistics\stat_dbase.dat" description="Name of the statistics meta-data file including its path." encrypted="false" />
      <add name="FileAccessMode" value="ReadWrite" description="Access mode (Read; Write; ReadWrite) to be used when opening the file." encrypted="false" />
      <add name="AutoSaveInterval" value="-1" description="Interval in milliseconds at which the file records loaded in memory are to be saved automatically to disk. Use -1 to disable automatic saving." encrypted="false" />
      <add name="LoadOnOpen" value="True" description="True if file records are to be loaded in memory when opened; otherwise False - this defaults to True for the statistics meta-data file." encrypted="false" />
      <add name="SaveOnClose" value="False" description="True if file records loaded in memory are to be saved to disk when file is closed; otherwise False." encrypted="false" />
      <add name="ReloadOnModify" value="False" description="True if file records loaded in memory are to be re-loaded when file is modified on disk; otherwise False - this defaults to False for the statistics meta-data file." encrypted="false" />
    </statMetadataFile>
    <statStateFile>
      <add name="FileName" value="Statistics\stat_startup.dat" description="Name of the statistics state file including its path." encrypted="false" />
      <add name="FileAccessMode" value="ReadWrite" description="Access mode (Read; Write; ReadWrite) to be used when opening the file." encrypted="false" />
      <add name="AutoSaveInterval" value="10000" description="Interval in milliseconds at which the file records loaded in memory are to be saved automatically to disk. Use -1 to disable automatic saving - this defaults to 10,000 for the statistics state file." encrypted="false" />
      <add name="LoadOnOpen" value="True" description="True if file records are to be loaded in memory when opened; otherwise False - this defaults to True for the statistics state file." encrypted="false" />
      <add name="SaveOnClose" value="True" description="True if file records loaded in memory are to be saved to disk when file is closed; otherwise False - this defaults to True for the statistics state file." encrypted="false" />
      <add name="ReloadOnModify" value="False" description="True if file records loaded in memory are to be re-loaded when file is modified on disk; otherwise False - this defaults to False for the statistics state file." encrypted="false" />
    </statStateFile>
    <statIntercomFile>
      <add name="FileName" value="Statistics\scratch.dat" description="Name of the statistics intercom file including its path." encrypted="false" />
      <add name="FileAccessMode" value="ReadWrite" description="Access mode (Read; Write; ReadWrite) to be used when opening the file." encrypted="false" />
      <add name="AutoSaveInterval" value="10000" description="Interval in milliseconds at which the file records loaded in memory are to be saved automatically to disk. Use -1 to disable automatic saving - this defaults to 10,000 for the statistics intercom file." encrypted="false" />
      <add name="LoadOnOpen" value="True" description="True if file records are to be loaded in memory when opened; otherwise False - this defaults to True for the statistics intercom file." encrypted="false" />
      <add name="SaveOnClose" value="True" description="True if file records loaded in memory are to be saved to disk when file is closed; otherwise False - this defaults to True for the statistics intercom file." encrypted="false" />
      <add name="ReloadOnModify" value="False" description="True if file records loaded in memory are to be re-loaded when file is modified on disk; otherwise False - this defaults to False for the statistics intercom file." encrypted="false" />
    </statIntercomFile>
    <statArchiveFile>
      <add name="FileName" value="Statistics\stat_archive.d" description="Name of the statistics working archive file including its path." encrypted="false" />
      <add name="FileType" value="Active" description="Type (Active; Standby; Historic) of the file." encrypted="false" />
      <add name="FileSize" value="100" description="Size (in MB) of the file." encrypted="false" />
      <add name="DataBlockSize" value="8" description="Size (in KB) of the data blocks in the file." encrypted="false" />
      <add name="RolloverPreparationThreshold" value="75" description="Percentage file full when the rollover preparation should begin." encrypted="false" />
      <add name="ArchiveOffloadLocation" value="" description="Path to the location where historic files are to be moved when disk start getting full." encrypted="false" />
      <add name="ArchiveOffloadCount" value="5" description="Number of files that are to be moved to the offload location when the disk starts getting full." encrypted="false" />
      <add name="ArchiveOffloadThreshold" value="90" description="Percentage disk full when the historic files should be moved to the offload location." encrypted="false" />
      <add name="MaxHistoricArchiveFiles" value="-1" description="Maximum number of historic files to be kept at both the primary and offload locations combined." encrypted="false" />
      <add name="LeadTimeTolerance" value="15" description="Number of minutes by which incoming data points can be ahead of local system clock and still be considered valid." encrypted="false" />
      <add name="CompressData" value="False" description="True if compression is to be performed on the incoming data points; otherwise False." encrypted="false" />
      <add name="DiscardOutOfSequenceData" value="True" description="True if out-of-sequence data points are to be discarded; otherwise False." encrypted="false" />
      <add name="CacheWrites" value="True" description="True if writes are to be cached for performance; otherwise False - this defaults to True for the statistics working archive file." encrypted="false" />
      <add name="ConserveMemory" value="False" description="True if attempts are to be made to conserve memory; otherwise False - this defaults to False for the statistics working archive file." encrypted="false" />
    </statArchiveFile>
    <cryptographyServices>
      <add name="CryptoCache" value="KeyIVCache.bin" description="Path and file name of cryptographic key and initialization vector cache." encrypted="false" />
      <add name="CacheRetryDelayInterval" value="200" description="Wait interval, in milliseconds, before retrying load of cryptographic key and initialization vector cache." encrypted="false" />
      <add name="CacheMaximumRetryAttempts" value="10" description="Maximum retry attempts allowed for loading cryptographic key and initialization vector cache." encrypted="false" />
    </cryptographyServices>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcConcurrent enabled="false"/>
    <gcServer enabled="true"/>
  </runtime>
  <!-- Uncomment the system.diagnostics section to enable a socket trace, using a value of 31 instead of 15 will also log data -->
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="Sockets"/>
        </listeners>
      </source>
    </sources>
    <switches>      
      <add name="System.Net.Sockets" value="15" />
    </switches>
    <sharedListeners>
      <add name="Sockets" type="System.Diagnostics.TextWriterTraceListener" initializeData="SocketTrace.log"/>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  -->
</configuration>
