<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="NodeID" value="e7a5235d-cb6f-4864-a96e-a8686f36e599"
        description="Unique Node ID" encrypted="false" />
      <add name="ConnectionString" value="Data Source=serverName; Initial Catalog=openPDC; User Id=username; Password=password"
        description="Configuration database connection string" encrypted="false" />
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter"
        description="Configuration database ADO.NET data provider assembly type creation string"
        encrypted="false" />
    </systemSettings>
    <exampleConnectionSettings>
      <add name="SqlServer.ConnectionString" value="Data Source=serverName;Initial Catalog=openPDC;User Id=userName;Password=password" description="Example SQL Server database connection string" encrypted="false"/>
      <add name="SqlServer.DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.SqlClient.SqlConnection;AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Example SQL Server database .NET provider string" encrypted="false"/>
      <add name="MySQL.ConnectionString" value="Server=serverName;Database=openPDC;Uid=root;Pwd=password" description="Example MySQL database connection string" encrypted="false"/>
      <add name="MySQL.DataProviderString" value="AssemblyName={MySql.Data, Version=5.2.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d};ConnectionType=MySql.Data.MySqlClient.MySqlConnection;AdapterType=MySql.Data.MySqlClient.MySqlDataAdapter" description="Example MySQL database .NET provider string" encrypted="false"/>
      <add name="Oracle.ConnectionString" value="Data Source=openPDC;User Id=username;Password=password;Integrated Security=no" description="Example Oracle database connection string" encrypted="false"/>
      <add name="Oracle.DataProviderString" value="AssemblyName={System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OracleClient.OracleConnection;AdapterType=System.Data.OracleClient.OracleDataAdapter" description="Example Oracle database .NET provider string" encrypted="false"/>
      <add name="OleDB.ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=openPDC.mdb" description="Example Microsoft Access (via OleDb) database connection string" encrypted="false"/>
      <add name="OleDB.DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OleDb.OleDbConnection;AdapterType=System.Data.OleDb.OleDbDataAdapter" description="Example OleDb database .NET provider string" encrypted="false"/>
      <add name="Odbc.ConnectionString" value="Driver={SQL Server Native Client 10.0};Server=serverName;Database=openPDC;Uid=userName;Pwd=password;" description="Example ODBC database connection string" encrypted="false"/>
      <add name="Odbc.DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.Odbc.OdbcConnection;AdapterType=System.Data.Odbc.OdbcDataAdapter" description="Example ODBC database .NET provider string" encrypted="false"/>
    </exampleConnectionSettings>
    <serviceHelper>
      <add name="MonitorServiceHealth" value="True" description="True if the service health is to be monitored; otherwise False."
        encrypted="false" />
      <add name="AllowedRemoteUsers" value="*" description="Comma or semicolon delimited list of user logins allowed to connect to the service remotely."
        encrypted="false" />
      <add name="ImpersonateRemoteUser" value="False" description="True to execute remote commands under the identity of the remote user; otherwise False."
        encrypted="false" />
      <add name="LogStatusUpdates" value="True" description="True if status update messages are to be logged to a text file; otherwise False."
        encrypted="false" />
      <add name="MaxStatusUpdatesLength" value="262144" description="Maximum numbers of characters allowed in update status messages without getting suppressed from being displayed."
        encrypted="false" />
      <add name="MaxStatusUpdatesFrequency" value="100" description="Maximum number of status update messages that can be issued in a second without getting suppressed from being displayed."
        encrypted="false" />
      <add name="RequestHistoryLimit" value="50" description="Number of client request entries to be kept in the history."
        encrypted="false" />
      <add name="SupportTelnetSessions" value="False" description="True to enable the support for remote telnet-like sessions; otherwise False."
        encrypted="false" />
    </serviceHelper>
    <remotingServer>
      <add name="ConfigurationString" value="Port=8500" description="Data required by the server to initialize."
        encrypted="false" />
      <add name="MaxClientConnections" value="-1" description="Maximum number of clients that can connect to the server."
        encrypted="false" />
      <add name="Handshake" value="True" description="True if the server will do a handshake with the client after the connection has been established; otherwise False."
        encrypted="false" />
      <add name="HandshakeTimeout" value="3000" description="Number of milliseconds the server will wait for the clients to initiate the Handshake process."
        encrypted="false" />
      <add name="SharedSecret" value="openPDC" description="Key to be used for ciphering the data exchanged between the server and clients."
        encrypted="false" />
      <add name="Encryption" value="None" description="Cipher strength (None; Aes128; Aes256) to be used for ciphering the data exchanged between the server and clients."
        encrypted="false" />
      <add name="SecureSession" value="False" description="True if the data exchanged between the server and clients will be encrypted using a private session passphrase; otherwise False."
        encrypted="false" />
      <add name="ReceiveTimeout" value="-1" description="Number of milliseconds the server will wait for data to be received from the clients."
        encrypted="false" />
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the server for receiving data from the clients."
        encrypted="false" />
      <add name="Compression" value="NoCompression" description="Compression strength (NoCompression; DefaultCompression; BestSpeed; BestCompression; MultiPass) to be used for compressing the data exchanged between the server and clients."
        encrypted="false" />
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False."
        encrypted="false" />
    </remotingServer>
  </categorizedSettings>
</configuration>