<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <historianMetadataService>
      <add name="Enabled" value="False" description="True if this web service is enabled; otherwise False." encrypted="false"/>
      <add name="ServiceUri" value="" description="URI where this web service is to be hosted." encrypted="false"/>
      <add name="ServiceContract" value="openPDCServices.IHistorianMetadataService, openPDCServices" description="Assembly qualified name of the contract interface implemented by this web service." encrypted="false"/>
      <add name="ServiceDataFlow" value="BothWays" description="Flow of data (Incoming; Outgoing; BothWays) allowed for this web service." encrypted="false"/>
      <add name="ConnectionString" value="Server=RGOCDSQL;Database=NERCPCS;Trusted_Connection=True" description="Connection string for connecting to the SQL Server database containing the metadata." encrypted="false"/>
    </historianMetadataService>
    <runtimeConfigurationService>
      <add name="Enabled" value="True" description="True if this web service is enabled; otherwise False." encrypted="false"/>
      <add name="ServiceUri" value="" description="URI where this web service is to be hosted." encrypted="false"/>
      <add name="ServiceContract" value="openPDCServices.IRuntimeConfigurationService, openPDCServices" description="Assembly qualified name of the contract interface implemented by this web service." encrypted="false"/>
      <add name="ServiceDataFlow" value="Outgoing" description="Flow of data (Incoming; Outgoing; BothWays) allowed for this web service." encrypted="false"/>
      <add name="ConnectionString" value="Server=RGOCDSQL;Database=NERCPCS;Trusted_Connection=True" description="Connection string for connecting to the SQL Server database containing the configuration." encrypted="false"/>
    </runtimeConfigurationService>
  </categorizedSettings>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="HistorianMetadataServiceBehavior" name="openPDCServices.HistorianMetadataService">
        <endpoint behaviorConfiguration="WebHttpEndpointBehavior" binding="webHttpBinding" contract="openPDCServices.IHistorianMetadataService"/>
      </service>
      <service behaviorConfiguration="RuntimeConfigurationServiceBehavior" name="openPDCServices.RuntimeConfigurationService">
        <endpoint behaviorConfiguration="WebHttpEndpointBehavior" binding="webHttpBinding" contract="openPDCServices.IRuntimeConfigurationService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="HistorianMetadataServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="RuntimeConfigurationServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>