<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core"/>
  </configSections>
  <categorizedSettings>
    <applicationSettings>
      <add name="MaximumFrameDisplayBytes" value="128" description="Maximum encoded bytes to display for frames in the &quot;Real-time Frame Detail&quot;." encrypted="false" scope="User"/>
      <add name="RestoreLastConnectionSettings" value="True" description="Set to True to load previous connection settings at startup." encrypted="false" scope="User"/>
      <add name="ForceIPv4" value="" description="Set to True to force use of IPv4." encrypted="false" scope="User"/>
      <add name="AllowedParsingExceptions" value="10" description="Defines the number of parsing exceptions allowed during ParsingExceptionWindow before connection is reset." encrypted="false" scope="User"/>
      <add name="ParsingExceptionWindow" value="5" description="Defines time duration, in seconds, to monitor parsing exceptions." encrypted="false" scope="User"/>
    </applicationSettings>
    <attributeTree>
      <add name="ChannelNodeBackgroundColor" value="Yellow" description="Defines the highlight background color for channel node entries on the attribute tree." encrypted="false" scope="User"/>
      <add name="ChannelNodeForegroundColor" value="Black" description="Defines the highlight foreground color for channel node entries on the attribute tree." encrypted="false" scope="User"/>
      <add name="InitialNodeState" value="Collapsed" description="Defines the initial state for nodes when added to the attribute tree.  Note that a fully expanded tree will take much longer to initialize." encrypted="false" scope="User"/>
      <add name="ShowAttributesAsChildren" value="True" description="Set to True to show attributes as children of their channel entries." encrypted="false" scope="User"/>
    </attributeTree>
    <chartSettings>
      <add name="RefreshRate" value="0.1" description="Chart refresh rate in seconds. Typical setting is 0.1, increase this number if app runs slow." encrypted="false" scope="User"/>
      <add name="BackgroundColor" value="White" description="Background color for graph region." encrypted="false" scope="User"/>
      <add name="ForegroundColor" value="Navy" description="Foreground color for graph region (axes, legend border, text, etc.)" encrypted="false" scope="User"/>
      <add name="TrendLineWidth" value="4" description="Trend line graphing width (in pixels)." encrypted="false" scope="User"/>
      <add name="ShowDataPointsOnGraphs" value="False" description="Set to True to show data points on graphs." encrypted="false" scope="User"/>
    </chartSettings>
    <connectionSettings>
      <add name="MaximumConnectionAttempts" value="1" description="Maximum number of times to attempt connection before giving up; set to -1 to continue connection attempt indefinitely." encrypted="false" scope="User"/>
      <add name="AutoStartDataParsingSequence" value="True" description="Set to True to automatically send commands for ConfigFrame2 and EnableRealTimeData." encrypted="false" scope="User"/>
      <add name="ExecuteParseOnSeparateThread" value="False" description="Allows frame parsing to be executed on a separate thread (other than communications thread) - typically only needed when data frames are very large.  This change will happen dynamically, even if a connection is active." encrypted="false" scope="User"/>
      <add name="SkipDisableRealTimeData" value="False" description="Defines flag to skip automatic disabling of the real-time data stream on shutdown or startup. Useful when using UDP multicast with several subscribed clients." encrypted="false" scope="User"/>
      <add name="InjectSimulatedTimestamp" value="False" description="Defines flag to inject a simulated timestamp into incoming streams - this will override any existing incoming timestamp. Useful when using file based input to simulate real-time data." encrypted="false" scope="User"/>
      <add name="UseHighResolutionInputTimer" value="False" description="Defines flag that determines if a high-resolution precision timer should be used for file based input. Useful when input frames need be accurately time-aligned to the local clock to better simulate an input device and calculate downstream latencies." encrypted="false" scope="User"/>
    </connectionSettings>
    <phaseAngleGraph>
      <add name="PhaseAngleGraphStyle" value="Relative" description="Sets the phase angle graph to plot either raw or relative phase angles." encrypted="false" scope="User"/>
      <add name="ShowPhaseAngleLegend" value="True" description="Set to True to show phase angle graph legend." encrypted="false" scope="User"/>
      <add name="PhaseAnglePointsToPlot" value="30" description="Sets the total number of phase angle points to display." encrypted="false" scope="User"/>
      <add name="LegendBackgroundColor" value="AliceBlue" description="Background color for phase angle legend." encrypted="false" scope="User"/>
      <add name="LegendForegroundColor" value="Navy" description="Foreground color for phase angle legend text." encrypted="false" scope="User"/>
      <add name="PhaseAngleColors" value="Black;Red;Green;SteelBlue;DarkGoldenrod;Brown;Coral;Purple" description="Possible foreground colors for phase angle trends." encrypted="false" scope="User"/>
    </phaseAngleGraph>
    <frequencyGraph>
      <add name="FrequencyPointsToPlot" value="30" description="Sets the total number of frequency points to display." encrypted="false" scope="User"/>
      <add name="FrequencyColor" value="SteelBlue" description="Foreground color for frequency trend." encrypted="false" scope="User"/>
    </frequencyGraph>
    <lastWindowSize>
      <add name="PMUConnectionTester" value="" description="Size of the windows form." encrypted="false" scope="User"/>
    </lastWindowSize>
    <lastWindowLocation>
      <add name="PMUConnectionTester" value="" description="Location of the windows form." encrypted="false" scope="User"/>
    </lastWindowLocation>
  </categorizedSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
