<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core" />
  </configSections>
  <categorizedSettings>
    <clientHelper>
      <add name="AuthenticationMethod" value="None" description="Authentication method (None; Ntlm; Kerberos) used for security."
        encrypted="false" />
      <add name="AuthenticationInput" value="" description="Input text for the current AuthenticationMethod."
        encrypted="true" />
    </clientHelper>
    <remotingClient>
      <add name="ConnectionString" value="Server=localhost:8500" description="Data required by the client to connect to the server."
        encrypted="false" />
      <add name="MaxConnectionAttempts" value="-1" description="Maximum number of times the client will attempt to connect to the server."
        encrypted="false" />
      <add name="Handshake" value="True" description="True if the client will do a handshake with the server after the connection has been established; otherwise False."
        encrypted="false" />
      <add name="HandshakeTimeout" value="3000" description="Number of milliseconds the client will wait for the server's response to the Handshake."
        encrypted="false" />
      <add name="SharedSecret" value="openPDC" description="Key to be used for ciphering the data exchanged between the client and server."
        encrypted="false" />
      <add name="Encryption" value="None" description="Cipher strength (None; Aes128; Aes256) to be used for ciphering the data exchanged between the client and server."
        encrypted="false" />
      <add name="SecureSession" value="False" description="True if the data exchanged between the client and server will be encrypted using a private session passphrase; otherwise False."
        encrypted="false" />
      <add name="ReceiveTimeout" value="-1" description="Number of milliseconds the client will wait for data to be received from the server."
        encrypted="false" />
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the client for receiving data from the server."
        encrypted="false" />
      <add name="Compression" value="NoCompression" description="Compression strength (NoCompression; DefaultCompression; BestSpeed; BestCompression; MultiPass) to be used for compressing the data exchanged between the client and server."
        encrypted="false" />
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False."
        encrypted="false" />
    </remotingClient>
  </categorizedSettings>
</configuration>