<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="openPDCManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <!-- *** MODIFY CONNECTION STRING AND DATA PROVIDER STRINGS BELOW *** -->
      
      <add name="ConnectionString" value="Server=localhost; Database=openPDC; Uid=admin; Pwd=admin; " description="Configuration database connection string" encrypted="False" />
      <add name="DataProviderString" value="AssemblyName={MySql.Data, Version=5.2.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d}; ConnectionType=MySql.Data.MySqlClient.MySqlConnection; AdapterType=MySql.Data.MySqlClient.MySqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string" encrypted="false" />
                 
      <!-- **************************************************************** -->      
      <add name="InstalledBitSize" value="32" description="Target installation bit size (used by installer)." encrypted="false" />
      <add name="ApplicationName" value="openPDC Manager" description="openPDC Manager - application being secured." encrypted="false" />
    </systemSettings>
    <securityProvider>
      <add name="ProviderType" value="TVA.Security.AdoSecurityProvider, TVA.Security" description="The type to be used for enforcing security." encrypted="false" />
      <add name="IncludedResources" value="*=*" description="Semicolon delimited list of resources to be secured along with role names." encrypted="false" />
      <add name="ExcludedResources" value="" description="Semicolon delimited list of resources to be excluded from being secured." encrypted="false" />           
      <add name="NotificationSmtpServer" value="localhost" description="SMTP server to be used for sending out email notification messages." encrypted="false" />
      <add name="NotificationSenderEmail" value="sender@company.com" description="Email address of the sender of email notification messages." encrypted="false" />
    </securityProvider>
    <activeDirectory>
      <add name="PrivilegedDomain" value="" description="Domain of privileged domain user account." encrypted="false" />
      <add name="PrivilegedUserName" value="" description="Username of privileged domain user account." encrypted="false" />
      <add name="PrivilegedPassword" value="" description="Password of privileged domain user account." encrypted="true" />
    </activeDirectory>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <openPDCManager.Properties.Settings>
      <setting name="ApplicationHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ApplicationWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ApplicationTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApplicationLeft" serializeAs="String">
        <value>0</value>
      </setting>
    </openPDCManager.Properties.Settings>
  </userSettings>
</configuration>
