<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core"/>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <!--		
			<add name="ConnectionString" value="Data Source=RGOCDSQL;Initial Catalog=NERCPCS;User Id=openPDCManagerUser;Password=NXJCt0XD"
				description="Configuration database connection string" encrypted="false" />
			<add name="DataProviderString" value="AssemblyName={System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.SqlClient.SqlConnection;AdapterType=System.Data.SqlClient.SqlDataAdapter"
				description="Configuration database ADO.NET data provider assembly type creation string" encrypted="false" />
			  -->
      
      
      <add name="ConnectionString" value="Data Source=MTHAKKAR-PC\SQLEXPRESS;Initial Catalog=openPDC;User Id=sa1;Password=password"
				description="Configuration database connection string" encrypted="false" />
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.SqlClient.SqlConnection;AdapterType=System.Data.SqlClient.SqlDataAdapter"
				description="Configuration database ADO.NET data provider assembly type creation string" encrypted="false" />
     

      <!--
      <add name="ConnectionString" value="Server=localhost;Database=openPDC;Uid=root;Pwd=" description="Example MySQL database connection string" encrypted="false"/>
      <add name="DataProviderString" value="AssemblyName={MySql.Data, Version=5.2.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d};ConnectionType=MySql.Data.MySqlClient.MySqlConnection;AdapterType=MySql.Data.MySqlClient.MySqlDataAdapter" description="Example MySQL database .NET provider string" encrypted="false"/>
      -->
      
      <!--
      <add name="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\openPDCDebug\openPDC.mdb" description="Example Microsoft Access (via OleDb) database connection string" encrypted="false"/>
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OleDb.OleDbConnection;AdapterType=System.Data.OleDb.OleDbDataAdapter" description="Example OleDb database .NET provider string" encrypted="false"/>
     -->

      <add name="RealTimeMeasurementRefreshInterval" value="20" description="Time interval in seconds to refresh Real-Time Measurements Data screen." encrypted="false" />
      <add name="RunTimeStatisticsRefreshInterval" value="10" description="Time interval in seconds to refresh Run-Time Statistics screen." encrypted="false" />
      
    </systemSettings>
    <exampleConnectionSettings>
      <add name="SqlServer.ConnectionString" value="Data Source=serverName;Initial Catalog=openPDC;User Id=userName;Password=password" description="Example SQL Server database connection string" encrypted="false"/>
      <add name="SqlServer.DataProviderString" value="AssemblyName={System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.SqlClient.SqlConnection;AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Example SQL Server database .NET provider string" encrypted="false"/>
      <add name="MySQL.ConnectionString" value="Server=serverName;Database=openPDC;Uid=root;Pwd=password" description="Example MySQL database connection string" encrypted="false"/>
      <add name="MySQL.DataProviderString" value="AssemblyName={MySql.Data, Version=5.2.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d};ConnectionType=MySql.Data.MySqlClient.MySqlConnection;AdapterType=MySql.Data.MySqlClient.MySqlDataAdapter" description="Example MySQL database .NET provider string" encrypted="false"/>
      <add name="Oracle.ConnectionString" value="Data Source=openPDC;User Id=username;Password=password;Integrated Security=no" description="Example Oracle database connection string" encrypted="false"/>
      <add name="Oracle.DataProviderString" value="AssemblyName={System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OracleClient.OracleConnection;AdapterType=System.Data.OracleClient.OracleDataAdapter" description="Example Oracle database .NET provider string" encrypted="false"/>
      <add name="OleDB.ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=openPDC.mdb" description="Example Microsoft Access (via OleDb) database connection string" encrypted="false"/>
      <add name="OleDB.DataProviderString" value="AssemblyName={System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OleDb.OleDbConnection;AdapterType=System.Data.OleDb.OleDbDataAdapter" description="Example OleDb database .NET provider string" encrypted="false"/>
      <add name="Odbc.ConnectionString" value="Driver={SQL Server Native Client 10.0};Server=serverName;Database=openPDC;Uid=userName;Pwd=password;" description="Example ODBC database connection string" encrypted="false"/>
      <add name="Odbc.DataProviderString" value="AssemblyName={System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.Odbc.OdbcConnection;AdapterType=System.Data.Odbc.OdbcDataAdapter" description="Example ODBC database .NET provider string" encrypted="false"/>
    </exampleConnectionSettings>
  </categorizedSettings>
</configuration>