<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="openPDCManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<categorizedSettings>
		<systemSettings>
			<!-- *** MODIFY CONNECTION STRING AND DATA PROVIDER STRINGS BELOW. *** -->
			<add name="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\openPDC.mdb" description="Example Microsoft Access (via OleDb) database connection string" encrypted="false"/>
			<add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};ConnectionType=System.Data.OleDb.OleDbConnection;AdapterType=System.Data.OleDb.OleDbDataAdapter" description="Example OleDb database .NET provider string" encrypted="false"/>
			<!-- ******************************************* -->
			<add name="RealTimeMeasurementRefreshInterval" value="20" description="Time interval in seconds to refresh Real-Time Measurements Data screen." encrypted="false"/>
			<add name="RunTimeStatisticsRefreshInterval" value="10" description="Time interval in seconds to refresh Run-Time Statistics screen." encrypted="false"/>
      <add name="InstalledBitSize" value="64" description="Target installation bit size (used by installer)." encrypted="false" />
    </systemSettings>
	</categorizedSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<userSettings>
		<openPDCManager.Properties.Settings>
			<setting name="ApplicationHeight" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="ApplicationWidth" serializeAs="String">
				<value>800</value>
			</setting>
			<setting name="ApplicationTop" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ApplicationLeft" serializeAs="String">
				<value>0</value>
			</setting>
		</openPDCManager.Properties.Settings>
	</userSettings>
</configuration>
